html {
	box-sizing: border-box;
	font-size: 62.5%;
	line-height: 1.5;
}
*,
*::before*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	font-family: "Rubik", sans-serif;
	background-color: #fff;
}

.heading-primary {
	display: inline-block;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 2.4rem;
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		rgb(27, 24, 223),
		rgb(9, 197, 100)
	);
}

.form {
	max-width: 30rem;
	margin: 10rem auto;
	background-image: linear-gradient(
		to right bottom,
		rgba(0, 0, 0, 0.4),
		rgba(255, 255, 255, 0.4)
	);
	padding: 2rem 4rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
}
.form-group {
	padding: 0 0 1rem 2.4rem;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 0.2rem;
}
.form-list input {
	font-size: 1.8rem;
	padding: 1rem 2rem;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 3px;
	border-bottom: 3px solid transparent;
	color: #555;
	font-family: inherit;
	transition: all 0.3s;
}
.form-list input:focus {
	outline: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid rgb(11, 182, 11);
}
.form-list input:focus:invalid {
	border-bottom: 3px solid orangered;
}
.form-list label {
	display: block;
	font-size: 1.8rem;
	/* padding-left: 2rem; */
	margin-top: 0.6rem;
	transition: all 0.3s;
	color: #333;
}
.form-list input:placeholder-shown + label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-4.2rem);
}
.form-list input::-webkit-input-placeholder {
	font-family: inherit;
	color: #999;
}
.form-radio {
	display: flex;
	gap: 3rem;
}
.form-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
}
.radio {
	display: none;
}
.form-radio--1,
.form-radio--2 {
	display: flex;
	font-size: 1.6rem;
	color: #333;
}
.form-pick {
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	border: 2px solid green;
	position: relative;
	top: 0.3rem;
	left: 0;
}
.form-pick::after {
	content: "";
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	padding: 0.1rem;
	background-color: green;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;

	transition: all 0.2s;
}
.form-radio input:checked + label .form-pick::after {
	opacity: 1;
}

.btns {
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
	margin-top: 2rem;
}
.btns button {
	text-transform: uppercase;
	border: none;
	padding: 0.8rem 1.6rem;
	border-radius: 5px;
	color: rgb(8, 109, 8);
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 2px;
	cursor: pointer;
	box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
}

.btns button:hover {
	color: #333;
	transform: translateY(-1rem);
}
.btns button:active {
	color: rgb(8, 88, 8);
	transform: translateY(-0.2rem);
}
